@font-face {
  font-family: marvelFont;
  src: url(../media/Marvel-font.ttf);
}
#root {
  background-image: url("../media/backgroundImg4.jpg");
  background-size: 500px;   
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  background-color: #323536;
  width: 70%;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px 0 10px 0;
}
.container {
  background-color: white;
}
.title {
  font-family: marvelFont;
  font-size: 60px;
  COLOR: white;
  padding: 0;
  margin: 0;
  font-kerning: initial;
  height: 59px;
  /* width: 260px; */
  
}
.linkTitle {
  background-color: RED;
  align-self: center;
}
/*-------- NAVBAR --------*/
.navbar-container {
  width: 100%;
  border-top: 1px solid black;
  margin-top: 1px;
}
.navbar {
  display: flex;
  justify-content: center;
}
.navbar a {
  color: white;
  margin: 0 10px 0 10px;
}
.navbar-link {
  font: 400 12px/1 RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
  font-size: 23px;
  color: lightgray;
  text-decoration: none;
  margin: 0;
}
.navbar-link:hover {
  color: white;
  text-decoration: underline red;
}
.active {
  color: red !important;
}
.search-button {
  background-image: url('https://abeon-hosting.com/images/active-cliparts-23.png');
  background-size: 29px;
  background-color: transparent;
  width: 26px;
  height: 26px;
  border: none;
}
/*-------- Collapse searchBar --------*/
.collapse {
  width: 100%;
}
.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 2px;
  border-top: 1px solid black;
}
.form-inline {
  height: 32px;
  width: px;
  align-self: center;
}
.form-control, .custom-select, .btn-light{
  background-color: #ffffff45;
  color: white;
  padding: 0px;
  margin-left: 3px;
  height: 30px;
  border: none;
}
#tuvieja::placeholder {
  color: white;
  padding-left: 5px;
}
#inputGroupSelect01 {
  width: 110px;
}
.btn-light {
  width: 70px;
}
/*-------- BODY --------*/
.body {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* min-height: 900px; */
  margin: 0 5px 0 5px;
  overflow: scroll;
  background-image: url('../media/backgroundImg2.jpg');
  background-size: 300px;
  border: 2px solid black;
  border-radius: 5px;
}
/*-------- HOME --------*/
.home {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  background-color: darkgrey;
}
/*-------- CAROUSEL --------*/
.bd-example {
  width: 100%;
  height: 50%; 
  border-bottom: 2px solid black;
}
.carousel-item {
  height: 410px;
}
.d-block {
  width: 100%;
  height: 100%;
}
.carousel-item h5 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: black;
}
.carousel-control-next {
  margin-top: 190px;
  width: 40px;
  height: 20px;
  opacity: .7;
}
.carousel-control-next-icon {
  width: 30px;
  height: 30px;
}
.carousel-control-prev {
  margin-top: 190px;
  width: 40px;
  height: 20px;
  opacity: .7;
}
.carousel-control-prev-icon {
  width: 30px;
  height: 30px;
}
.carousel-indicators li {
  height: 3.5px;
  width: 35px;
}
/*-------- GRID -------*/
.container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.582);
  padding: 2px;
  overflow: scroll;
}
.card {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  margin: 0.204%;
  width: 19.594%;
  height: 197px;
  border: none;
  background-color: #7c4848e5;
  border: 2px solid rgb(10, 10, 10);
  /* border-radius: 4px; */
}
.card:hover {
  transform: translateY(-3px);
}
.card-img {
  width: 100%;
  height: 100%;
}
.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 0px;
} 
.card-link {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 90%;
  order: 2;
}
.card-title {
  order: 2;
  /* justify-self: center; */
  font-family: marvelFont;
  text-transform: uppercase;
  letter-spacing: 1.5px; 
  font-size: 23px;
  font-weight: bold;
  color: white;
  margin-bottom: 0;  
  line-height: 0.7;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: black;
}
.close {
  align-self: flex-end;
  object-position: 10px;
  order: 1;
  color: #000;
  text-shadow: none;
  opacity: 0.6;
  line-height: 0.49;
}
.close:hover {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: black;
}
/*-------- DETAILS -------*/
.details-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.452);
  padding: 2px;
}
.details-img {
  width: 70%;  
  border: 3px solid black;
  border-radius: 7px;
}
.details-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(102, 103, 104, 0.959);
  height: 100%;
  margin: 4px;
  border: 2px solid rgb(190, 189, 189);
  border-radius: 7px;
}
.details-title {
  font-family: marvelFont;
  text-transform: uppercase;
  letter-spacing: 1.5px; 
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-bottom: 0;  
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: black;
}
.details-description {
  padding: 0 5px 0 7px;
  font-weight: bold;
  color: rgb(190, 189, 189);
  font-family:  fantasy;
  font-size: 23px;
}
.details-ul {
  color: rgb(190, 189, 189);

  display: flex;
  flex-direction: row;
  padding-left: 10px;
  width: 100%;
  font-family: fantasy;
  font-size: 26px;
  list-style: none;
}
.details-ul li {
  font-size: 20px;
  margin: 5px 20px 0 10px;
}
.details-ul li:first-child {
  margin-left: 30px;
}

/*-------- HELP -------*/
.help {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  overflow: scroll;
}
.help img {
  width: 100%;
}
/*-------- FOOTER -------*/
.footer {
  margin: 5px;
}
#logo {
  width: 50px; 
}